.blocks-div{

    justify-content: center;
    display: grid;
    margin: 1em auto;
    grid-template-rows: repeat(9,10vh);
    grid-template-columns: repeat(9,10vw);
    transform: rotate(180deg);
    gap :1px;
}
.block{
    border: 1px solid #232323;
    background-color: white;
    cursor: pointer;
    transition: 900ms;
}
.game-over{
    margin: 3em;
}