header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}
.start-newgame{
    font-size: medium;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
h1{
    font-size: medium;
}
