header{
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}
.start-newgame{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
h1{
    font-size: small;
}
